# .sql file from SQL Server to MySQL standards

SQL Server exports SQL files in UTF-16 encoding. Files are double-sized than UTF-8. Also:
- MySQL manage table names like \`dbo\`.\`schema\`.\`table\`
- SQL Server manage table names like [dbo].[schema].[table]
- Standard ANSI-99 table names are escaped with double quotes like "dbo"."schema"."table"
  - MySQL supports the standard when the ANSI_QUOTES option is enabled. Or you can run it in ansi mode
  - SQL Server only supports it when QUOTED_IDENTIFIER is ON

# Usefull to get a table
# Not necessary for the snippet
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql://USER:PASSWORD@localhost/database_name")
myTable = pd.read_sql("tableName",engine) # For whole tables
myTable = pd.read_sql("SELECT * FROM tableName WHERE id > 100",engine) # For queries

In [ ]:
rutaOrigen = "/media/rutrus/8240C85440C85099/Users/Lorenzo/Desktop/" # My windows partition
sqlfile = "OriginalFile.sql" # File from SQLServer is in utf-16 by default
rutaDestino = "/home/rutrus/"
newDestinyfile = "DestinyFile.sql" # MySQL uses utf-8 by default

In [ ]:
with open(ruta+sqlfile, encoding="utf-16") as infile:
    with open(rutaDestino+newDestinyFile,"a+", encoding="utf-8") as outfile:
        for line in infile.readlines():
            line = line.replace("[","`")
            line = line.replace("]","`")
            outfile.write(line)

### From shell you can import sql from MySQL
`mysql -uroot -p myDatabase < pathToSQL.sql`  
Or you can use MySQL Workbench

`Â© MIT Licensed`  
[@rutrus](https://github.com/rutrus)